@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:ital@1&family=Work+Sans:ital,wght@0,400;0,700;0,800;1,700&display=swap");

*{
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  max-width: 1320px;;
}
.width-controller {
  max-width: 1320px;
  margin: 0 auto;
}
.decorated-letter {
  color: #ff42a5;
}
.gradient-text{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
/* Header Section */

header {
  padding: 30px 0px;
  box-shadow: 0px 0px 5px #f948b23b;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
 .logo h1 {
  font-size: 45px;
  padding-left: 20px;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav ul a {
  margin: 20px 20px;
  text-decoration: none;
  color: #000000;
}
.nav-follow-section {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #e7e6e9;
  padding: 10px 20px 10px 0;
  border-radius: 5px;
}
/* 
.fa-brands {
 font-size: 28px;
}
.fa-youtube{
  color: red;
}
.fa-tiktok{
  color: #000000;
} */


/* Banner 1 */


.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner {
  background-image: url("./B8A2-Gamer-Zone/images/group14.png");
  background-position: start;
  background-repeat: no-repeat;
}
 .banner-text h2 {
  font-size: 40px;
  font-weight: 700;

}
.banner-container .banner-text h1 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 800;
}
.banner-container .banner-button {
  padding-top: 25px;
}
.banner-container .banner-text p {
  margin: 5px 0px;
}
.banner-container .banner-button button:nth-child(2) {
  margin-left: 15px;
}
.banner-container .banner-text i {
  color: #f948b2;
}
.banner-container .banner-text .download-icon i {
  transform: rotate(90deg);
}
.banner-container .banner-img img {
  padding-top: 25px;
  width: 100%;
}

.button-style {
    display: inline-flex;
    border: none;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
}
.button-2 {
background: #4EC5F7;
}
/* .banner-1, .banner-image img { 
 padding: 15px;
 width: 100%;
} */

/* video section */
.video-section{
    width: 100%;
    border: 5px solid black;
    max-width: 1920px;
}
.video-section h2 {
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.video-container{
display: grid;
grid-template-columns: repeat(4,1fr);
justify-items: center;
}
.video p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; /* 150% */
}

/* Play section */

.play {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
.play .play-text {
  text-align: end;
  padding: 100px;
}
.play .play-text p {
  padding: 20px 0;
  
}
.play h1{
  font-size: 40px;
  font-weight: 700;
}
.play .play-img-2 {
  margin-top: -280px;
  margin-left: -130px;
}
